{% load static %}
<!doctype html>
<html>
<head>
    <title>ReadIt!</title>
    <meta charset="utf-8">
    <meta name="description" content="My great book review site">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:700|Merriweather:400,400italic,700,700italic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <header>
        <img src="{% static 'img/logo.png' %}" alt="ReadIt!" class="logo"/>
        <div class="welcome">
            {% if request.user.is_authenticated %}
                <p>Hello {{ request.user.username|title }}, you last logged in
                    at {{ request.user.last_login|date:"D d M Y" }}</p>
                       <a href="{% url 'account_logout' %}?next={{ request.path }}">Logout</a>

            {% else %}
                <p>Welcome guest! <a href="{% url 'account_login' %}">Login </a> </p>
            {% endif %}
        </div>
    </header>

    <nav>
        <a href="{% url 'books' %}">Books</a>
        <a href="{% url 'authors' %}">Authors</a>
        {% if request.user.is_authenticated %}
                <a href="{% url 'review' %}">Review</a>
        {% endif  %}
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>My awesome book review website!</p>
    </footer>
</div>
</body>
</html>