<p>Name Book: {{ book.title }}</p>
<h2>Author:</h2>
<p> {% for author in book.authors.all %} </p>
    {{ author.name }}
{% endfor %}
{% if book.is_favorite %}
    <p><b>favourite book</b></p>
{% endif %}
<h4>Review: {{ book.review|safe }} </h4>
<p>Book Review <strong>{{ book.date_review|date:"D d M Y H: i: s" }} </strong></p>
{% if book.review_by %}
    by <strong> {{ book.review_by|default:book.review_by.username }}</strong>
{% endif %}