{% extends "base.html" %}

{% block content %}
    <h1>Books pending review</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    <li{% if message.tags %} class="{{ message.tags }} "{% endif %}
                                             style="color: #44B78B">{{ message }}</li>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
    {% if books %}
        <table>
            <thead>
            <th>Title &amp; Author</th>
            <th class="align-right">Review by</th>
            <th class="align-right">Action</th>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td class="title">
                        {{ book.title }} by {{ book.list_authors }}
                    </td>
                    {% if book.review_by == request.user %}
                        <td class="align-right"><span class="highlight">Me</span></td>
                    {% elif book.review_by %}
                        <td class="align-right">{{ book.review_by.get_full_name|default:book.review_by.username }} </td>
                    {% else %}
                        <td class="align-right">-</td>
                    {% endif %}
                    <td class="align-right">
                        <a href="{{ book.get_review_absolute_url }}">Review</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>There are no books waiting to be reviewed. Good job!</p>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="non-field-errors">
                {% for error in form.non_field_errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}

        <label>{{ form.title.label }}</label>
        {{ form.title }}
        {{ form.title.help_text }}

        {% if form.title.errors %}
            <div class="form-error">
                {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}

        <label>{{ form.authors.label }}</label>
        {{ form.authors }}
        {% if form.authors.errors %}
            <div class="form-error">
                {% for error in form.authors.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}

        <p>Can't find the author you're looking for? <a href="{% url 'add-author' %}">Create a New Author</a></p>

        <label>Assigned To</label>
{#        {{ form.reviewed_by }}#}
{#        {% if form.reviewed_by.errors %}#}
{#            <div class="form-error">#}
{#                {% for error in form.reviewed_by.errors %}#}
{#                    <span>{{ error }}</span>#}
{#                {% endfor %}#}
{#            </div>#}
{#        {% endif %}#}
        <p><a href="{% url 'add-author' %}">Add Author</a></p>
        <input type="submit" value="Submit">

    </form>
{% endblock %}