{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <h2>{{ books.count|apnumber }} {{ books.count|pluralize }}</h2>
    {% for i in books %}
        <h2><a href="{{ i.get_absolute_url }}">  {{ i.title }} by {{ i.list_authors }}</a></h2>
        {% if i.is_favorite %}
            <b>Favorite</b>
        {% endif %}
        <p>Book Review <strong>{{ i.date_review|date:"D d M Y H: i: s" }} </strong></p>
        {% if i.review_by %}

            by <strong> {{ i.review_by|default:i.review_by.username }}</strong>
        {% endif %}
    {% endfor %}
    <ul>

    </ul>
    <div>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% for pg in page_obj.paginator.page_range %}
                {% if page_obj.number == pg %}
                    <li><a class="active" href="?page={{ pg }}">{{ pg }}</a></li>
                {% else %}
                    <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </div>

{% endblock %}