{% extends "base.html" %}
{% block content %}
    <form action="{% url 'login' %}" method="POST" accept-charset="utf-8">
    {% csrf_token %}
    {% for field in form %}
        <label>{{ field.label }}</label>
        {% if field.errors %}
            {{ field.errors }}
        {% endif %}
        {{ field }}
    {% endfor %}
    {{ form.non_field_errors }}
    <input type="hidden" name="next" value="{% url 'books' %}" />
    <input class="button small" type="submit" value="Submit"/>
</form>
{% endblock %}