{% extends "base.html" %}

{% block content %}
    <h4>Review <em>{{ book.title }}</em> by <em>{{ book.list_authors }}</em></h4>
    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form }}
        <input type="submit" value="submit">
    </form>
{% endblock %}